{% extends "base.html" %}

{% block title %} Lavanderia {% endblock %}
{% block description %}"Lavamos tu colada mientras tu te centras en tu negocio."{% endblock %}

{% block head %}
    <!-- Structured data-->
{% endblock %}

{% block content %}

<section class="hero-section d-flex justify-content-center align-items-center">
<div class="section-overlay"></div>
<div class="container-fluid hero">
    
    <div class="row d-flex justify-content-center m-1">
        <div class="col-lg-10 col-sm-12 d-flex flex-column justify-content-center hero-section-text m-5">
                <h1 class="hero-subheadline-top text-center">Lavandería para tu negocio</h1>
                <h2 class="hero-headline text-center">Centrate en tu Negocio mientras nosotros Lavamos</h2>
        </div>
    </div>
    
</div>
</section>

<section class="pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="text-center mt-5 mb-5 pt-5 pb-5">Negocio que genera mucha colada?</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-5 col-md-10 col-sm-12">
                <img class="img-fit" src="/static/images/laundry-pile.jpg" />
            </div>
            <div class="col-lg-7 col-md-10 col-sm-12 d-flex flex-column justify-content-between">
                <h4>COLABORA CON NOSOTROS</h4>
                <h2>Quitate de hacer coladas y centrate en tus clientes</h2>
                <h5 class="fst-italic">Here comes something blah blah meaninful. Invidunt lorem justo sanctus clita. Erat lorem labore ea.</h5>
                <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est dolor</p>
                <h3>Colaboramos con:</h3>
                <div class="row d-flex justify-content-center">
                    {% for neg in negocios %}
                    <h4 class="col-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                        </svg>
                        {{ neg }}</h4>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="section-divider">
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Precios</h2>
            </div>
        </div>
        <div class="row mt-3 mb-3 d-flex justify-content-center align-itmes-center">
            <div class="col-lg-6 col-sm-10 d-flex justify-content-center align-itmes-center mb-5">
                <img class="img-bolsas" src="/static/images/bolsa-1.jpg" />
            </div>
            <div class="col-lg-6 col-sm-10 d-flex flex-column justify-content-center">
                
                <table class="p-2">
                    <tr>
                        <td><p class="fs-4">Bolsa de 15 - 18 kg</p></td>
                        <td><h4 class="price">34,99 €</h4></td>
                    </tr>
                    <tr>
                        <td><p class="fs-4">Recogida y Entrega</p></td>
                        <td><h4 class="price">2,99 €</h4></td>
                    </tr>
                </table>
                
                <h5 class="fst-italic mt-5">Cuantas bolsas lavamos cada mes? Tu decides</h5>
                <h3 class="mt-5 mb-5">Lavado, secado y planchado sin salir de tu empresa.</h3>
                <h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                    </svg>
                    Lo único que tienes que hacer es recibir una factura mensual.</h4>
            </div>
        </div>
    </div>
</section>

<hr class="section-divider">

<section class="gratis-section">
    <div class="section-overlay"></div>
    <div class="container-fluid gratis">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col">
                <h2 class="text-center gratis-text">Prueba una colada gratis</h2>
            </div>
            
            <!--<div class="col-lg-4 col-md-10 col-sm-12">
                <img class="img-fit" src="/static/images/washing-machine.jpg"  />
            </div>-->
        </div>
    </div>
</section>

<hr class="section-divider">

<section id="contact-section" class="mb-5">
<div class="container-fluid">
    
        <div class="form-container row d-flex justify-content-center">
            <div class="col-lg-6 col-sm-10 left-container justify-content-center align-items-center">
                <div class="left-inner-container">
                    <h2>Llamanos</h2>
                    
                    <p class="fs-3 font-bolder p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                        </svg>
                        633 603 209</p>
                    <p class="fs-5 font-bold pt-3">Lunes - Viernes</p>
                    <p class="fs-5 pb-3">9 - 16</p>
                    <p class="fs-5">O utiliza nuestro formulario de contacto.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-10 right-container d-flex justify-content-center p-2">
                <div class="right-inner-container">
                    <form id="contact-form" method="POST" action="{{ url_for('index') }}">
                        {{ form.csrf_token }}
                        <h2 class="lg-view">Llena formulario</h2>
                        <p>* Obligatorio</p>
                        <div class="social-container">
                            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        {{ form.name(class_="input", placeholder="Nombre *") }}
                        {{ form.email(class_="input", placeholder="Correo *") }}
                        {{ form.company(class_="input", placeholder="Empresa") }}
                        {{ form.phone(class_="input", placeholder="Teléfono") }}
                        {{ form.message(class_="input", placeholder="Mensaje", rows="4") }}
                        <button id="submit-contact-form-button" class="border">ENVIAR</button>
                    </form>
                    <p id="success-message"></p>
                </div>
            </div>
        </div>
</div>
</section>

<script>
    var form = document.getElementById('contact-form')
    var messageDiv = document.getElementById('success-message');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        messageDiv.innerText = 'Enviando mensaje...';
        messageDiv.style.display = 'block';

        const formData = new FormData(form);
        fetch('/', {
            method: 'POST',
            body: formData,
        }).then(function(response) {
            
            
            
        }).then(function(data) {
            // Clear input fields
            document.querySelectorAll('#contact-form input, #contact-form textarea').forEach(input => input.value = '');

            // Show success message
            
            messageDiv.innerText = 'Hemos enviado tu mensaje';
        }).catch(function(error) {
            console.error('Error:', error);
        });
    });


</script>

{% endblock %}